<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13F34</string>
	<key>CFBundleName</key>
	<string>PHP PSR-2 Fixer</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.2</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.gablc.php-psr-2-fixer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1.2</string>
	<key>CodaAuthorString</key>
	<string>Gabriel Bordeaux</string>
	<key>CodaDescriptionString</key>
	<string>Uses PHP-CS-Fixer to automatically fix PHP coding standards issues</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>5</string>
	<key>CodaPlugInSupportedAPIVersion</key>
	<integer>6</integer>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6A317</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11D50a</string>
	<key>DTSDKName</key>
	<string>macosx10.7</string>
	<key>DTXcode</key>
	<string>0600</string>
	<key>DTXcodeBuild</key>
	<string>6A317</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>document</string>
			<key>keyEquivalent</key>
			<string>^$f</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>PHP PSR-2 Fixer</string>
			<key>output</key>
			<string>replaceDocument</string>
			<key>postprocess</key>
			<string>none</string>
			<key>preprocess</key>
			<string>none</string>
			<key>script</key>
			<string>fixer.sh</string>
			<key>setInsertionPoint</key>
			<false/>
			<key>uuid</key>
			<string>052BF6D4-518B-4210-B10D-EAF406F1473B</string>
		</dict>
	</array>
</dict>
</plist>
